{% extends layout %}
{% block content %}
<main>
	<section class="section section--bg-intro">
		<div class="container">
			<div class="intro">
				<div class="intro__item">
					<h1 class="intro__title">Бизнес.IoT<span>Онлайн-конференция Microsoft</span></h1>
					<p class="text text--color-blue">Открывая интернет вещей<span>30 марта 2017, 10:00</span></p>
					<a href="#" class="btn">Регистрация</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--bg-blue">
		<div class="container">
			<div class="subjects">
				<div class="subjects__item section__content">
					<p class="subjects__text">Тенденции и практики интернета вещей для цифровой трансформации бизнеса</p>
					<a href="#" class="subjects__link">Подробнее</a>
				</div>
				<div class="subjects__item section__content">
					<p class="subjects__text">Готовые решения для задач: рекомендации, опыт, оценка, эффективность</p>
					<a href="#" class="subjects__link">Подробнее</a>
				</div>
				<div class="subjects__item section__content">
					<p class="subjects__text">Разработка решений IoT: все&nbsp;о&nbsp;платформе, компонентах и сервисах</p>
					<a href="#" class="subjects__link">Подробнее</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="program" id="program">
				<h2 class="title">Программа</h2>
				<h3 class="program__subtitle">Пленарная сессия 30 марта 2017</h3>
				<div class="event">
					
					{% for item in event | populate(speakers) %}
					<div class="event__item {% if item.lead %}event__item--pro{% endif %}">
						<div class="event__line"></div>
						<div class="event__time">{{item.time}}</div>
						<div class="event__wrapper">
							{% for subject in item.subjects %}
							<div class="event__info {% if item.pro %}event__info--pro{% endif %}">
								<div class="event__subject">{{subject.text}}</div>
								{% if subject.speakers %}
								{% for speaker in subject.speakers %}
								<div class="event__speaker">{{speaker.name + ', ' + speaker.function}}</div>
								{% endfor %}
								{% else %}
								<div class="event__speaker"><pre>[  –  ]</pre></div>
								{% endif %}
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container container--relative">
			<section class="speakers" id="speakers">
				<h2 class="title">Спикеры</h2>
				<div class="slider">
					{% for item in speakers | populate_speakers(event) %}
					<div class="speaker">
						<div class="speaker__photo">
							<img src="{{ item.img | default('speaker-placeholder.jpg') | img_asset }}" alt="Фото спикера">
						</div>
						<div class="speaker__info">
							<div class="speaker__name">{{item.name}}</div>
							<div class="speaker__function">{{item.function}}</div>
							{% for subject in item.subjects.slice(0, 1) %}
								<div class="speaker__subject" data-id="{{subject.subjectId}}">{{subject.title}}</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
			</section>
		</div>
	</section>
	<section class="section">
		<div class="container container--relative">
			<section class="partners" id="partners">
				<h2 class="title">Партнерские решения</h2>
				<div class="slider">
					{% for item in common.data.partners %}
					<div class="partner">
						<div class="partner__logo">
							<img src="{{ item.img | img_asset }}" alt="Логотип партнера">
						</div>
						<div class="partner__info">
							<div class="partner__text">{{item.text}}</div>
							<a href="#">Подробнее</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</section>
	<section class="section section--bg-blue section--bg-profits">
		<div class="container">
			<div class="registration" id="registration">
				<div class="registration__wrapper">
					<p class="registration__text">Онлайн-конференция «Бизнес.IoT» даст эффективный стимул преобразованию вашего бизнеса, созданию новых решений и сервисов. Присоединяйтесь!</p>
					<a href="#" class="btn">Регистрация</a>
				</div>
			</div>
		</div>
	</section>
</main>
<div style="display: none">
	<div id="modal">
		{% for item in event %}
		{% for subject in item.subjects %}
		<div class="popup" data-id="{{subject.subjectId}}">
			<h2 class="popup__subject">{{subject.text}}</h2>
			<p class="popup__info">{{subject.about}}</p>
			<a class="popup__watch" href="#">Смотреть доклад</a>
			{% for speaker in subject.speakers %}
			<div class="popup__speaker">
				<div class="popup__speaker-photo">
					<img src="{{ speaker.img | default('speaker-placeholder.jpg') | img_asset }}">
				</div>
				<p class="popup__speaker-function">{{speaker.function}}</p>
      	<p class="popup__speaker-name">{{speaker.name}}</p>
      	{% for aboutSpeaker in speaker.about %}
      	<p class="popup__speaker-info">{{aboutSpeaker}}</p>
      	{% endfor %}
      </div>
      {% endfor %}
      <span class="popup__close arcticmodal-close"></span>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}