{% extends layout %}
{% block content %}
<main>
	<section class="section section--bg-intro">
		<div class="container">
			<div class="intro">
				<div class="intro__item">
					<h1 class="intro__title">Бизнес.IoT<span>Онлайн-конференция Microsoft</span></h1>
					<p class="text text--color-blue">Открывая интернет вещей<span>30 марта 2017, 10:00</span></p>
					<a href="#" class="btn">Регистрация</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--bg-blue">
		<div class="container">
			<div class="subjects">
				<div class="subjects__item section__content">
					<p class="subjects__text">Тенденции и практики интернета вещей для цифровой трансформации бизнеса</p>
					<a href="#" class="subjects__link">Подробнее</a>
				</div>
				<div class="subjects__item section__content">
					<p class="subjects__text">Готовые решения для задач: рекомендации, опыт, оценка, эффективность</p>
					<a href="#" class="subjects__link">Подробнее</a>
				</div>
				<div class="subjects__item section__content">
					<p class="subjects__text">Разработка решений IoT: все&nbsp;о&nbsp;платформе, компонентах и сервисах</p>
					<a href="#" class="subjects__link">Подробнее</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="program">
				<h2 class="title">Программа</h2>
				<h3 class="program__subtitle">Пленарная сессия 30 марта 2017</h3>
				<div class="event">

					<div class="event__item">
						<p class="event__time">10:00 — 11:15</p>
						<div class="event__info event__info--col-one">
							<div class="event__subject">Интернет вещей в действии: мировая и российская практика.</div>
							<div class="event__speaker">Дмитрий Марченко, Директор по маркетингу облачной платформы Microsoft в России</div>
						</div>
					</div>

					<div class="event__item">
						<div class="event__time">11:15 — 11:30</div>
						<div class="event__info event__info--col-one">
							<div class="event__subject">Интернет вещей и анализ данных. Международные проекты КПМГ.</div>
							<div class="event__speaker">Василий Есипов, Старший менеджер КПМГ</div>
						</div>
					</div>

					<div class="event__item">
						<div class="event__time">11:30 — 11:40</div>
						<div class="event__info event__info--col-two">
							<div class="event__subject event__subject--pro">Трек PRO.Бизнес Ищете возможности роста для своего бизнеса? Нужны инновационные, но проверенные решения? Данный трек – про это. Бизнес, новые идеи, сценарии и решения, практика применения и результаты – в различных отраслях</div>
							<div class="event__speaker event__speaker--pro">Модератор: Анна Кулашова, Директор директор департамента по работе с малыми и средними организациями и партнерами Microsoft в России</div>
						</div>
						<div class="event__info event__info--col-two">
							<div class="event__subject event__subject--pro">Трек PRO.Технологии Есть идея, но нет понимания как ее реализовать? Нужен совет во выбору инструментов, архитектуре и необходимым компонентам? Этот трек для вас. Технологическая платформа Microsoft, компонентная база и услуги наших партнеров, программы инкубации решений – все для быстрого запуска проекта</div>
							<div class="event__speaker event__speaker--pro">Модератор: Михаил Черномордиков, Директор департамента стратегических технологий Microsoft в России</div>
						</div>
					</div>

					<div class="event__item">
						<div class="event__time">11:40 — 12:00</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container container--relative">
			<section class="speakers">
				<h2 class="title">Спикеры</h2>
				<div class="speakers__wrapper">
				{% for item in common.data.speakers %}
				<div class="speaker">
					<img src="{{ item.img | img_asset }}" class="speaker__photo" alt="Фото спикера">
					<div class="speaker__info">
					<div class="speaker__name">{{item.name}}</div>
					<div class="speaker__function">{{item.function}}</div>
					<div class="speaker__subject">{{item.subject}}</div>
				</div>
				</div>
				{% endfor %}
				</div>
				<div class="controls">
					<button class="controls__item controls__item--active"></button>
					<button class="controls__item"></button>
					<button class="controls__item"></button>
				</div>
			</section>
			<div class="arrows">
				<button class="arrows__item arrows__item--left"></button>
				<button class="arrows__item arrows__item--right"></button>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container container--relative">
			<section class="partners">
				<h2 class="title">Партнерские решения</h2>
				<div class="partners__wrapper">
					{% for item in common.data.partners %}
					<div class="partner">
						<div class="partner__logo">
							<img src="{{ item.img | img_asset }}" alt="Логотип партнера">
						</div>
						<div class="partner__info">
							<div class="partner__text">{{item.text}}</div>
							<a href="#">Подробнее</a>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="controls">
					<button class="controls__item controls__item--active"></button>
					<button class="controls__item"></button>
					<button class="controls__item"></button>
				</div>
			</section>
			<div class="arrows">
				<button class="arrows__item arrows__item--left"></button>
				<button class="arrows__item arrows__item--right"></button>
			</div>
		</div>
	</section>
	<section class="section section--bg-blue section--bg-profits">
		<div class="container">
			<div class="profits">
				<div class="profits__wrapper">
					<p class="profits__text">Онлайн-конференция «Бизнес.IoT» даст эффективный стимул преобразованию вашего бизнеса, созданию новых решений и сервисов. Присоединяйтесь!</p>
					<a href="#" class="btn">Регистрация</a>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}