<footer class="footer">
	<div class="footer__main">
		{% for item in common.data.footerLinks %}
		<div class="footer__content">
			<h3 class="footer__title">{{item.title}}</h3>
			{% for link in item.links %}
			<a class="footer__item" href="{{link.url}}">{{link.text}}</a>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="additional">
		<p class="additional__lang">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-globe"></use>
				</svg>
			</span>Русский (Россия)
		</p>
		<div class="additional__help-links">
			<a href="#">Контактная информация</a>
			<a href="#">Конфиденциальность</a>
			<a href="#">Условия использования</a>
			<a href="#">Товарные знаки</a>
			<a href="#">Сведения о рекламе</a>
			<a href="https://www.microsoft.com/ru-ru/">© 2017 Microsoft </a>
		</div>
	</div>
</footer>