<footer class="footer">
	<div class="footer__main">
		{% for item in common.data.footerLinks %}
		<div class="footer__content">
			<h3 class="footer__title">{{item.title}}</h3>
			{% for link in item.links %}
			<a class="footer__item" href="{{link.url}}">{{link.text}}</a>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="additional">
		<a class="additional__lang" href="#">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-globe"></use>
				</svg>
			</span>Русский (Россия)
		</a>
		<div class="additional__help-links">
			<a href="https://support.microsoft.com/contactus/?ws=mscom">Контактная информация</a>
			<a href="https://go.microsoft.com/fwlink/?LinkId=521839">Конфиденциальность</a>
			<a href="https://go.microsoft.com/fwlink/?LinkID=206977">Условия использования</a>
			<a href="https://www.microsoft.com/trademarks">Товарные знаки</a>
			<a href="https://choice.microsoft.com/">Сведения о рекламе</a>
			<a href="https://www.microsoft.com/ru-ru/">© 2017 Microsoft </a>
		</div>
	</div>
</footer>