<header class="header">
	<section class="header__up">
		<div class="header__logo">
			<a href="https://www.microsoft.com/ru-ru/">
				<svg xmlns="http://www.w3.org/2000/svg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mslogo"></use>
				</svg>
			</a>
		</div>
		<div class="header__search">
			<input type="text" name="search" placeholder="Искать на Microsoft.com">
			<span></span>
		</div>
	</section>
	<section class="header__down">
		<div class="header__content">
			<p class="header__down-title">Бизнес.IoT</p>
			<a href="#" class="">Программа</a>
			<a href="#" class="">Спикеры</a>
			<a href="#" class="">Решения</a>
			<a href="#" class="">Материалы</a>
			<a href="#" class="">Регистрация</a>
		</div>
	</section>
</header>