<header class="header">
	<section class="header__up">
		<div class="header__content">
			<div class="header__logo">
			<a href="https://www.microsoft.com/ru-ru/">
				<svg xmlns="http://www.w3.org/2000/svg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mslogo"></use>
				</svg>
			</a>
		</div>
		<div class="header__links">
			<ul class="header__list">
				<li class="header__item">
					<a href="#">Облако</a>
					<ul class="header__inner-list">
						<div class="header__inner-wrapper">
							<li><a href="https://www.microsoft.com/ru-ru/server-cloud/">Платформа</a></li>
							<li><a href="https://www.microsoft.com/ru-ru/server-cloud/cloud-os/modern-data-center.aspx">Инфраструктура</a></li>
							<li><a href="https://azure.microsoft.com/">Microsoft Azure</a></li>
						</div>
					</ul>
				</li>
			</ul>
			<ul class="header__list">
				<li class="header__item"><a href="#">Мобильность</a>
					<ul class="header__inner-list">
						<div class="header__inner-wrapper">
							<li><a href="https://www.microsoft.com/ru-ru/cloud-platform/enterprise-mobility-security">Мобильность предприятия</a></li>
							<li><a href="https://products.office.com/ru-ru/business/enterprise-mobile-productivity">Мобильность офиса</a></li>
							<li><a href="https://www.microsoft.com/en-us/WindowsForBusiness/windows-industry">Windows mobility</a></li>
							<li><a href="https://www.microsoft.com/surface/en-us/business/overview">Microsoft Surface</a></li>
							<li><a href="https://www.microsoft.com/ru-ru/mobile/lumia-for-business/home/">Microsoft Lumia</a></li>
						</div>
					</ul>
				</li>
			</ul>
			<ul class="header__list">
				<li class="header__item"><a href="#">Продуктивность</a>
					<ul class="header__inner-list">
						<div class="header__inner-wrapper">
							<li><a href="#">Office</a>
								<ul class="header__inner-list">
									<li><a href="https://products.office.com/ru-ru/business/office">Office для бизнеса</a></li>
									<li><a href="https://products.office.com/ru-ru/business/compare-office-365-for-business-plans">Планы и цены</a></li>
									<li><a href="https://products.office.com/ru-ru/business/explore-office-365-for-business">Office 365 для SMB</a></li>
									<li><a href="https://products.office.com/ru-ru/business/enterprise-productivity-tools">Office 365 для предприятий</a></li>
									<li><a href="https://products.office.com/ru-ru/skype-for-business">Skype для бизнеса</a></li>
								</ul>
							</li>
							<li><a href="#">Windows</a>
								<ul class="header__inner-list">
									<li><a href="https://www.microsoft.com/ru-ru/WindowsForBusiness/default.aspx">Windows 10 для бизнеса</a></li>
									<li><a href="https://www.microsoft.com/ru-ru/WindowsForBusiness/windows-iot">Windows 10 для интернета вещей</a></li>
									<li><a href="https://www.microsoft.com/ru-ru/WindowsForBusiness/featured-devices">Устройства с Windows</a></li>
								</ul>
							</li>
							<li><a href="#">Данные и аналитика</a>
								<ul class="header__inner-list">
									<li><a href="https://www.microsoft.com/ru-ru/server-cloud/products/sql-server/default.aspx">Microsoft SQL Server</a></li>
									<li><a href="https://powerbi.microsoft.com/ru-ru/">Microsoft Power BI</a></li>
									<li><a href="https://www.microsoft.com/ru-ru/server-cloud/cortana-analytics-suite/overview.aspx">Microsoft Cortana Intelligence Suite</a></li>
								</ul>
							</li>
							<li><a href="#">Управление операциями</a>
								<ul class="header__inner-list">
									<li><a href="https://www.microsoft.com/ru-ru/cloud-platform/operations-management-suite">Operations Management Suite</a></li>
									<li><a href="https://www.microsoft.com/ru-ru/cloud-platform/system-center/">System Center</a></li>
								</ul>
							</li>
						</div>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="header__search">
		<input type="text" name="search" placeholder="Искать на Microsoft.com">
		<span></span>
	</section>
	<section class="header__down">
		<p class="header__down-title">Бизнес.IoT</p>
		<div class="header__content">
			<div class="header__links">
				<a href="#program" class="header__link">Программа</a>
				<a href="#speakers" class="header__link">Спикеры</a>
				<a href="#partners" class="header__link">Решения</a>
				<a href="#materials" class="header__link">Материалы</a>
				<a href="#registration" class="header__link">Регистрация</a>
			</div>
		</div>
	</section>
</header>