<header class="header">
	<section class="header__up">
		<div class="header__content">
			<div class="header__logo">
			<a href="https://www.microsoft.com/ru-ru/">
				<svg xmlns="http://www.w3.org/2000/svg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mslogo"></use>
				</svg>
			</a>
		</div>
		<div class="header__links">
			<ul class="header__list">
				<li class="header__item">
					<a href="#">Облако</a>
					<ul class="header__inner-list">
						<li><a href="#">Платформа</a></li>
						<li><a href="#">Инфраструктура</a></li>
						<li><a href="#">Microsoft Azure</a></li>
					</ul>
				</li>
			</ul>
			<ul class="header__list">
				<li class="header__item">Мобильность</li>
			</ul>
			<ul class="header__list">
				<li class="header__item">Продуктивность</li>
			</ul>
		</div>
	</div>
	<div class="header__search">
		<input type="text" name="search" placeholder="Искать на Microsoft.com">
		<span></span>
	</section>
	<section class="header__down">
		<p class="header__down-title">Бизнес.IoT</p>
		<div class="header__content">
			<div class="header__links">
				<a href="#program" class="header__link">Программа</a>
				<a href="#speakers" class="header__link">Спикеры</a>
				<a href="#partners" class="header__link">Решения</a>
				<a href="#materials" class="header__link">Материалы</a>
				<a href="#registration" class="header__link">Регистрация</a>
			</div>
		</div>
	</section>
</header>