.event{

	&__item {
		display: flex;
		margin-bottom: 40px;
	}

	&__time {
		font-size: 30px;
		color: @blue;
		flex-basis: 30%;
		margin-right: auto;
	}

	&__info {

		&--pro {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			
		}

		&--col-one {
			flex-basis: 68%;
		}

		&--col-two {
			flex-basis: 33%;
			
			&:nth-child(2) {
			margin-right: auto;	
			}
		}
	}

	&__subject {
		min-height: 50%;
		font-size: 20px;
		margin-bottom: 10px;

		&--font-size {
			font-size: 26px;
		}

		&--pro {
			width: 100%;
			color: @blue;
			font-style: italic;

			span {
				font-weight: 700;
			}
		}
	}

	&__speaker {
		flex-basis: 100%;
		font-size: 16px;
		color: #aeafcc;

		&--font-size {
			font-size: 18px;
		}

		&--pro {
			color: #6f7aad;
			font-style: italic;
		}
	}

	@media (max-width: 630px) {
		&__time {
			font-size: 26px;
			flex-basis: 20%;
		}

		&__info {
			&--col-two {
				flex-basis: 30%;
			}
		}

		&__subject {
			font-size: 18px;

			&--font-size {
				font-size: 24px;
			}
		}

		&__speaker {
			font-size: 14px;

			&--font-size {
				font-size: 16px;
			}
		}
	}
}