.event{

	&__line {
		position: absolute;
		top: 10px;
		left: 210px;
		width: 1px;
		height: 100%;
		background-color: #afb8bf;

		&::before {
			position: absolute;
			top: 0px;
			left: -10px;
			content: '';
			width: 21px;
			height: 21px;
			border: 1px solid #afb8bf;
			border-radius: 50%;
			background-color: #0c1c2f;
		}
	}

	&__item {
		position: relative;
		display: flex;
		padding-bottom: 40px;

		&:last-child {
			.event__line {
				height: 0;
			}
		}
	}

	&__time {
		font-size: 30px;
		color: @blue;
		flex-basis: 25%;
		margin-right: auto;
	}

	&__info {
		cursor: pointer;
		margin-right: auto;

		&--pro {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;

		}

		&--col-one {
			flex-basis: 68%;
		}

		&--col-two {
			flex-basis: 33%;

			&:nth-child(2) {
			margin-right: auto;
			}
		}
	}

	&__subject {
		min-height: 50%;
		font-size: 20px;
		margin-bottom: 10px;

		&--font-size {
			font-size: 26px;
		}

		&--pro {
			width: 100%;
			color: @blue;
			font-style: italic;

			span {
				font-weight: 700;
			}
		}
	}

	&__speaker {
		flex-basis: 100%;
		font-size: 16px;
		color: #aeafcc;

		&--font-size {
			font-size: 18px;
		}

		&--pro {
			color: #6f7aad;
			font-style: italic;
		}
	}

	@media (max-width: @screen-md) {
		&__line {
			left: 0;
		}

		&__time {
			padding-left: 15px;
			flex-basis: 10%;
		}
	}

	@media (max-width: 640px) {
		&__time {
			font-size: 26px;
		}

		&__info {
			&--col-two {
				flex-basis: 30%;
			}
		}

		&__subject {
			font-size: 18px;

			&--font-size {
				font-size: 24px;
			}
		}

		&__speaker {
			font-size: 14px;

			&--font-size {
				font-size: 16px;
			}
		}
	}
}
