.header{
	display: flex;
	flex-direction: column;

	&__logo {
		margin-right: 30px;

		svg {
			width: 100px;
			height: 30px;
		}
	}

	&__search {
		position: relative;

		input {
			padding: 5px 30px 5px 10px;
			outline-color: @blue;
		}

		span {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;


			&::before,
			&::after {
				content: '';
				position: absolute;
			}

			&::before {
				top: 14px;
				right: 25px;
				width: 2px;
				height: 8px;
				transform: rotate(45deg);
				background-color: #a9a9a9;
			}

			&::after {
				top: 6px;
				right: 14px;
				width: 12px;
				height: 12px;
				border: 2px solid #a9a9a9;
				border-radius: 50%;
			}
		}

		input:focus + span::before {
			background-color: @blue;
		}

		input:focus + span::after {
			border-color: @blue;
		}
	}

	a:hover {
		color: @blue;
	}

	&__content {
		display: flex;
	}

	&__links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: 100%;

		a {
			margin-right: 35px;
		}

		@media (max-width: @screen-sm) {

		}
	}

	&__up {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 48px;
		padding: 20px 10%;
		background-color: @white;

		a {
			display: flex;
			color: black;
		}

		@media (max-width: @screen-lg) {
			padding: 20px 8%;
		}

		@media (max-width: @screen-sm) {
			flex-direction: column;
			align-items: flex-start;
			padding: 20px 15px;
		}
	}

	&__down {
		display: flex;
		min-height: 65px;
		padding: 20px 10%;
		background-color: #2f2f2f;
		box-sizing: border-box;

		@media (max-width: @screen-lg) {
			padding: 20px 5%;
		}

		@media (max-width: @screen-lg) {
			padding: 20px 8%;
		}

		@media (max-width: @screen-sm) {
			padding: 20px 15px;
		}

		a {
			display: flex;
			color: @white;
			margin-right: 40px;
		}

		&-title {
			display: flex;
			align-items: center;
			font-size: 21px;
			font-weight: 400;
			margin-right: 30px;
		}
	}

	@media (max-width: @screen-sm) {
		&__content {
			flex-direction: column;
			max-width: 100%;
		}

		&__down {
			flex-direction: column;
		}

			a {
				margin-bottom: 10px;
			}

			&-title {
				margin-bottom: 10px;
			}
	}
}
