.header{
	display: flex;
	position: relative;
	z-index: 1000;
	flex-direction: column;
	min-height: 113px;

	&__logo {
		margin-right: 15px;

		svg {
			width: 100px;
			height: 48px;

		}
	}

	&__search {
		position: relative;

		input {
			width: 270px;
			padding: 5px 30px 5px 10px;
			outline-color: @blue;
		}

		span {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 15px;
			height: 15px;
			margin: auto;


			&::before,
			&::after {
				content: '';
				position: absolute;
			}

			&::before {
				top: 8px;
				right: 25px;
				width: 2px;
				height: 8px;
				transform: rotate(45deg);
				background-color: #a9a9a9;
			}

			&::after {
				top: 0px;
				right: 14px;
				width: 12px;
				height: 12px;
				border: 2px solid #a9a9a9;
				border-radius: 50%;
			}
		}

		input:focus + span::before {
			background-color: @blue;
		}

		input:focus + span::after {
			border-color: @blue;
		}
	}

	a:hover {
		color: @blue;
	}

	li:hover {
		cursor: pointer;
	}

	&__content {
		display: flex;
	}

	&__links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: 100%;
	}

	&__up {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 48px;
		padding: 0px 10%;
		background-color: @white;
		z-index: 2;

		.header__item {
			position: relative;
			color: black;
			padding: 0 20px;
			padding-right: 25px;
			line-height: 48px;

			a {
				color: black;
			}

			&::after {
				display: inline-block;
				position: absolute;
				content: '';
				right: 10px;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 8px;
				height: 8px;
				border: 2px solid lightgray;
				border-left: none;
				border-top: none;
				transform: rotate(45deg);
				background-color: transparent;
			}

			&:hover::after {
				border-color: @blue;
			}


			.header__inner-wrapper {
				background-color: @white;
			}

			&:hover {
				background-color: rgb(240, 240, 240);
			}

			&:hover > .header__inner-list {
				display: block;
			}

			.header__inner-list {
				display: none;
				width: 240px;
				top: 48px;
				left: 0px;
				position: absolute;
				background-color: @white;
				z-index: 1;
				line-height: normal;

				li {
					a {
						display: block;
						padding: 15px 20px;
					}

					&:hover {
						background-color: rgb(240, 240, 240);
					}

					.header__inner-list {
						
						flex-direction: column;
						top: 0;
						left: 100%;
						min-height: 100%;
						background-color: rgb(240, 240, 240);

						li {
							&:hover {
								background-color: rgb(220, 220, 220);
							}
						}
					}

					&:hover .header__inner-list {
						display: block;
					}
				}
			}
		}
	}

	&__down {
		display: flex;
		min-height: 65px;
		padding: 0 10%;
		background-color: #2f2f2f;
		box-sizing: border-box;
		width: 100%;

		a {
			display: flex;
			color: @blue;
			line-height: 65px;
			padding: 0 20px;

			&:hover {
				background-color: #0e72b1;
				color: @white;
			}
		}

		&-title {
			font-size: 21px;
			font-weight: 400;
			margin-right: 30px;
			line-height: 65px;
		}
	}

	@media (max-width: @screen-lg) {
		&__up {
			padding: 0 8%;
		}

		&__down {
			padding: 0 8%;
		}
	}

	@media (max-width: @screen-md) {
		&__up {
			flex-direction: column;

			.header__item {

				.header__inner-list {
					width: auto;
				}
			}

			.header__content {
				width: 100%;
			}
		}

		&__search {
			width: 100%;
			margin-bottom: 20px;

			input {
				width: 100%;
				padding: 10px;
			}
		}

		&__down {
			-ms-flex-wrap: wrap;
		}
	}

	@media (max-width: @screen-sm) {
		&__content {
			flex-direction: column;
			max-width: 100%;
		}

		&__up {
			align-items: flex-start;			
			padding: 0 15px;

			.header__list {
				font-size: 15px;
			}
		}

		&__down {
			flex-direction: column;
			padding: 0 15px;

			.header__link {
				font-size: 15px;
				line-height: 48px;
			}
		}

		&-title {
			margin-bottom: 10px;
		}
	}

	@media (max-width: 600px) {
		&__down {
			display: none;
		}
	}

	@media (max-width: 560px) {
		min-height: auto;

		&__up {

			.header__links,
			.header__search {
				display: none;
			}
		}

		&__down {

		}

		&__links {
			flex-direction: column;
			align-items: flex-start;
			width: 40%;
		}

		.header__list {
			width: 100%;
		}
	}
}
