.intro{
	min-height: 490px;
	font-weight: 300;
	padding-top: 55px;

	&__item {
		display: inline-block;
		
		@media (max-width: @screen-sm) {
			background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.3) 90%, transparent 100%);
		}
	}

	&__title {
		font-size: 70px;
		font-weight: 100;
		margin-bottom: 40px;

		span {
			display: block;
			font-size: 21px;
		}
	}

	.text {
		margin-bottom: 40px;
	}
}