.section{
	padding: 20px 0;

	&--bg-blue {
		background-color: #002e4b;
	}

	&--bg-intro {
		background-image: url('../images/intro-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: @screen-sm) {
			background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.4) 90%, transparent 100%), url('../images/intro-bg.jpg');
		}
	}

	&--bg-profits {
		background-image: url('../images/profits-bg.png');
		background-repeat: no-repeat;
		background-position: top 35% left 70%;
	}
}