.section{
	padding: 20px 0;

	&--bg-blue {
		background-color: #002e4b;
	}

	&--bg-intro {
		background-image: url('/images/intro-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&--bg-profits {
		background-image: url('/images/profits-bg.png');
		background-repeat: no-repeat;
		background-position: top 35% left 70%;
	}
}