.speakers{
	position: relative;
	padding-bottom: 100px;

	.speaker {
		min-height: 500px;
		width: 300px;
		background-color: @white;

		&__info {
			padding: 20px;
		}

		&__photo {
			position: relative;

			&::after {
				content: "";
				display: block;
				padding-bottom: 80%;
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				margin-bottom: 10px;
			}
		}

		&__name {
			font-size: 20px;
			color: #231f20;
			margin-bottom: 10px;
		}

		&__function {
			font-size: 16px;
			color: #696a6d;
			margin-bottom: 20px;
		}

		&__subject {
			font-size: 14px;
			color: #008ad0;
			padding-left: 30px;
			background-image: url('../images/microphone.png');
			background-repeat: no-repeat;
			max-width: 240px;
		}
	}
}